$primary-color: white;
$background-color: rgb(0, 0, 0);
$site-font: 'Poppins', sans-serif;

$font-weights: (
    "regular": 400,
    "medium": 600,
    "bold": 750,
);

$font-sizes: (
    "small": 14px,
    "normal": 18px,
    "medium": 24px,
    "big": 32px,
);